html, body {
  overflow-x: hidden;
}

h3.tfindex-text {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #355580;
}

.tfindex-text {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #355580;

  p {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 441px) {
  .tfindex-d-block {
    display: block !important;
  }
}

@media screen and (max-width: 440px) {
  .tfindex-text {
    font-size: 32px;
    line-height: 56px;
  }
}