h3.tfindex-text {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #355580;
}

.tfindex-text {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #355580;

  p {
    margin-bottom: 0;
  }
}
